@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Ultra');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');



.text p{
font-family: 'Josefin Slab', cursive;
color: white;
margin: auto;
font-size: 20px;
font-weight: bold;
width:50%;
}


@media screen and (max-width: 1000px)  {
.pitch-div{
height: 100%;
width:100%;
margin: auto;

}

.text{

height: 100%;
width:50%;
color: #677EAE;
font-size:15px;
}


}

@media screen and (min-width: 1500px)  {


  .pitch-div{
  height: 100%;
  width:50%;
  margin: auto;

  }

  .text{

  height: 100%;

  color: #677EAE;
  font-size:22px;
  margin-left: 15px;
  }




  }
