.Card-container{
width:80%;
height:800px;
margin-top: 200px;
margin-bottom: 100px;
}


.card{
 max-width:285px;
 height:400px;
  margin:auto;
  padding:5px;
  border-radius:15px;
  cursor:pointer;
}
.footer-profile{
  display: flex;
max-width:400px;
height:80px;
margin-bottom: 0;
margin:auto;
}
.card-circle {
  postion:relative;
  width:170px;
 height:170px;
  border-radius:90px;
 margin:auto;
 background-color:#0404B4;

}
.card-img{
  postion:relative;
 width:170px;
 height:170px;
 border-radius:90px;
;
  margin:auto;

}


.card-h1{
 text-align:center;
}
.trait{
 height:0.5px;
 margin:auto;
 width:70%;
 background-color: blue;
}

.paraph{
margin:auto;
text-align:center;
font-size:15px;
padding:5px;
}

h4{
text-align:center;
}


.card-h3 {
text-align:center;

}


.arrow {
  display:inline;
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  border: solid 6px white;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.arrow:before, .arrow:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: blue;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(-220deg);
          transform: translate(-50%, -50%) rotate(-220deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.arrow:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(220deg);
          transform: translate(-50%, -50%) rotate(220deg);
}
.arrow:hover {
  border: solid 8px white;
}
.arrow:hover:after, .arrow:hover:before {
  background: white;
}
.arrow:active {
  border: solid 8px white;
}
.arrow:active:after, .arrow:active:before {
  background: white;
}


.arrow-2 {
display:inline;
  cursor: pointer;
  position: relative;
  display: block;

  width: 80px;
  height: 80px;
  border: solid 6px white;
  border-radius: 100%;
  z-index: 2;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.arrow-2:before, .arrow-2:after {

  display: inline;
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: blue;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.arrow-2:after {
  z-index: 2;
  top: 59%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow-2:hover {
  border: solid 8px blue;
}
.arrow-2:hover:after, .arrow:hover:before {
  background: blue;
}
.arrow-2:active {
  border: solid 8px blue;;
}
.arrow-2:active:after, .arrow:active:before {
  background: blue;
}



.add-span{
  height:50px;
  width:50px;
  border-radius: 50px;
  background-color: blue;
  margin:auto;

}

.add-span h1{

    margin:auto;
    margin-top: 5px;
    color:white;
    font-size:27px;
  }


.test{
  background-color: red;
  width: 400px;
  height: 200px;
}


  @media screen and (min-width: 1250px)  {



    .Card-container{
     padding-top: 150px;
      width: 50%;
      margin: auto;
      background-color: white;
    }

    .card-title{
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    color:#759e90;
    margin-bottom: 55px;
    position: sticky;
    z-index: 1;
    top:-1px;
    background-color: white;
    padding-top: 25px;
    }

    .card-contains{
      width: 70%;
      height:1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 100px;
    }

  }
