
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Monoton|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.social-media{
  position: sticky;
  z-index: 2;
  padding-top: 25px;
  border-bottom: 3px solid #0a9cb9;
}

.ytp-watch-later-icon{
display: none;
}

.ytp-share-icon{
display: none;
}

.ytp-title-link yt-uix-sessionlink{
display: none;
}

.stripe{
background-color: #65b5a1;
  height: 900px;
}

.head{
width: 100%;
height:250px;
margin:auto;
text-align: center;

}

.head h1{
  padding-top: 30px;
font-family: 'Archivo Black', sans-serif;
font-size: 35px;
color:white;
}



.main-page{
width:100%;
}

.page-container{
width:100%;
height: 100%;
margin: auto;
}

.div-pitch{
  width:100%;
  height: 800px;
  margin: auto;
  background: url("/image/travel-pattern4.svg");
  background-size: cover;
  background-repeat: no-repeat;
 padding-top: 160PX;
}

.page-content{
  width: 60%;
  max-width: 820px;
background-color: white;
margin: auto;
height: 100%;
margin-top: 60px;
    border: 6px solid #0a9cb9;
    box-shadow: 15PX -14px 0px #fde079;
margin-bottom: 100px;
}

.resume{
width:100%;
height:500px;
background-color: green;
background: url("/image/background.jpg");
}


.resume-2{
width:100%;
height:150px;
background: url("/image/pattern.svg");
filter: grayscale(0);
}


.icon img{
margin-top: 8px;
margin-left: 10px;
}

.trailer-btn{
margin-top: 140px;
}

.draw-border {
  -webkit-box-shadow: inset 0 0 0 4px #58afd1;
          box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

.couv{
  height:100%;
  background: url('/image/beach.svg');
  background-size: cover;
}

@media screen and (min-width: 1500px)  {
  .couv{
    height:100%;
    background: url('/image/movieposter.png');
    background-size: cover;
  }

  .head{
  width: 100%;
  height:100%;
  margin:auto;
  text-align: center;

  }

  .head h1{
  font-family: 'Archivo Black', sans-serif;
  font-size: 140px;
  color:white;
  }

  .border-2{
  background-color: white;
  margin: auto;
  width:30%;
  height: 2px;
    background-color:white;
  }

  .main-page{
  width:100%;
  background-color: white;
  }

  .page-container{
  width:100%;
  height: 100%;
  margin: auto;

  }



  .resume{
  width:100%;
  height:500px;
  background-color: green;
  background: url("/image/background.jpg");
  }

  .couv{
    background: url('/image/movieposter.png');
    background-size: cover;
    height:100%;
    margin-left:-25px;
  }

}


@media screen and (min-width: 700px)  {
  .head{
  width: 100%;
  height:350px;
  margin:auto;
  text-align: center;

  }

.head h1{
font-family: 'Monoton', cursive;
font-size: 100px;
color: #fbbd08;
padding-top: 15%;
}

.couv{
  background: url('/image/movieposter.png');
  background-size: cover;
  height:100%;
}

}
